/* add your CSS here */
/* add your CSS here */
.basic-Info {
	list-style-type: none;
	font-weight: bold;
    padding-left: 0;
}
.fun-Facts {
	font-style: italic;
}
.card {
	overflow: hidden;
	display: block;
	border: 1px solid gray;
	padding: 10px;
	box-shadow: 5px 5px 5px gray;
	border-radius: 15px;
	width: 300px;
	background-color: powderblue;
    margin: auto;
}
.generalInfo {
	overflow: hidden;
	display: block;
	border: 1px solid gray;
	padding: 10px;
	width: 278px;
	border-radius: 15px;
}
.image {
	overflow: hidden;
	width: 298px;
	height: 198px;
	border: 1px solid gray;
	border-radius: 15px;
	margin-bottom: 10px;
}